body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
}
#bloc-aniv{
    width: 400px;
    height: 600px;
    background-color: #8a2be2;
    padding-top: 5px;
    
}
#bloc-mage{
    position:relative;
    left: 230px;
    display: none;
    
}
#bloc-mage img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    
}

#para0{
    margin: auto;
    width: 70%;
    height: 50px;
    background-color: aliceblue;
    border: 1px solid black;
    text-align: center;
    padding-top: 25px;
    font-weight: 600;
    margin-top: 10px;
    color: black;
    border-radius: 10px;
    margin-bottom: 40px;
}
span{
    background-color: blueviolet;
    border-radius: 8px;
}
#para1{
    margin: auto;
    width: 60%;
    height: 25px;
    background-color: yellowgreen;
    border: 1px solid black;
    text-align: center;
    padding-top: 7px;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
    margin-bottom: 40px;
}
#para2{
    margin: auto;
    width: 60%;
    height: 25px;
    background-color: coral;
    border: 1px solid black;
    text-align: center;
    padding-top: 7px;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
    margin-bottom: 40px;
}
#para3{
    margin: auto;
    width: 60%;
    height: 25px;
    background-color: crimson;
    border: 1px solid black;
    text-align: center;
    padding-top: 7px;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
    margin-bottom: 40px;
}
#para4{
    margin: auto;
    width: 60%;
    height: 25px;
    background-color: seagreen;
    border: 1px solid black;
    text-align: center;
    padding-top: 7px;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
    margin-bottom: 40px;
}
#para1,#para2,#para3,#para4{
    display: none;
}